<article class="flex flex-row shadow-lg bg-blue-100 mb-4">
    <img [src]="'http://image.tmdb.org/t/p/w342'+movie.poster_path" [alt]="movie.title" class="w-1/6 object-contain">
    <div class="p-4">
        <h2 class="text-lg">{{movie.title}}</h2>
        <button
            class="px-4 py-2"
            [ngClass]="{
                'bg-blue-400': !details,
                'bg-green-400': details,
                'hover:bg-blue-600': !details,
                'hover:bg-green-600': details
            }"
            (click)="details = !details"
        >
            {{details ? "Hide" : "Show"}} details
        </button>
        @if (details) {
            @for (entry of (movie | stringValues); track entry[0]) {
                <p><span [style.font-weight]="'bold'">{{entry[0] | snakeCaseToRegularText}}</span>: {{entry[1]}}</p>
            }
        }
    </div>
</article>